h1 {
    font-size: 24px;
    font-family: 'Permanent Marker', cursive;
}

h2 {
    font-size: 22px;
    font-family: 'Permanent Marker', cursive;
}

h3 {
    font-size: 18px;
    font-family: 'Cousine', monospace;
}

.container{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

img{
    height: 400px;
    width: auto;
    float: left;
}

.instructions{
    float: left;
    margin-left: 50px;
}