h1 {
    font-family: 'Permanent Marker', cursive;
    margin-top: 30px;
}

h2, h3 {
    font-size: 18px;
    font-family: 'Cousine', monospace;
}

img{
    height: 300px;
    width: auto;
}


.jumbotron{
    text-align: center;
}

#img-small{
    display: none;
 }
 
 @media only screen and (max-width: 500px){ 
    #img-large{
        display: none;
    }
 
    #img-small{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
 }