h1 {
    font-family: 'Permanent Marker', cursive;
    margin-top: 30px;
}

h2, h3 {
    font-size: 18px;
    font-family: 'Cousine', monospace;
}

img{
    height: 300px;
    width: auto;
}


.jumbotron{
    text-align: center;
}